* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  background-color: rgb(70, 92, 161);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  opacity: 0;
  transition: opacity 0.5s linear 0.5s;
  display: flex;
  justify-content: space-between;
  width: 65%;
  padding-top: 10%;
  text-align: center;

  p {
    text-align: center;
    padding-top: 5%;
    font-size: 25px;
  }
}

h2 {
  font-size: 15px;
}

.intro {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s linear;

  &__title {
    text-align: center;
    font-size: 40px;
    color: rgb(27, 41, 53);
  }
}

.match {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s linear 0.5s;

  &__title {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
  }
}

.hands {
  display: flex;
  justify-content: space-around;
}

.c-hand {
  transform: rotateY(180deg);
}

.fadeOut {
  opacity: 0;
  pointer-events: none;
}

.fadeIn {
  opacity: 1;
  pointer-events: all;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
  }
}

.button {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(8, 241, 202);
  border: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 5px;

  &:hover {
    background-color: rgb(15, 204, 172);
  }
}

.footer {
  text-align: center;
  font-size: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(27, 41, 53);
  background-color: rgb(70, 92, 161);
}